button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
    border: 2px solid #e1e1e1;
    font-size: 18px;
    line-height: 1.8em;
    padding: 10px 13px;
    margin-bottom: 30px;
    border-radius: 4px;
    width: calc(100% - 32px);
}