{% extends 'base.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<section>
    <div class="container">
        <div class="new-entry">
            <h2>New Tag</h2>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ render_field(form.title) }}
                <input type="submit" value="Add Tag" class="button">
                <a href="#" class="button button-secondary">Cancel</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}