{% extends 'base.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list single">
            <article>
                <h1>{{ context.title }}</h1>
                <time datetime="2016-01-31">{{ context.date }} - January 31, 2016</time>
                <div class="entry">
                    <h3>Time Spent: </h3>
                    <p>{{ context.time_spent }} Hours</p>
                </div>
                <div class="entry">
                    <h3>What I Learned:</h3>
                    <p>{{ context.learned }}</p>
                </div>
                <div class="entry">
                    <h3>Resources to Remember:</h3>
                    {% filter markdown %}
                    {{ context.resources | markdown }}
                    {% endfilter %}
                </div>
            </article>
        </div>
    </div>
    <div class="edit">
        <p><a href="edit.html">Edit Entry</a></p>
    </div>
</section>
{% endblock %}