{% extends 'base.html' %}

{% from 'macros.html' import render_field %}

{% block content %}
<section>
    <div class="container">
        <div class="entry-list single">
            <article>
                <h1>{{ context.title }}</h1>
                <time datetime="{{ context.date.strftime('%Y-%m-%d') }}">{{ context.date|datetimefilter }}</time>
                <div class="entry">
                    <h3>Time Spent: </h3>
                    <p>{{ context.time_spent }} Hours</p>
                </div>
                <div class="entry">
                    <h3>What I Learned:</h3>
                    <p>{{ context.learned }}</p>
                </div>
                <div class="entry">
                    <h3>Resources to Remember:</h3>
                    {% filter markdown %}
                    {{ context.resources | markdown }}
                    {% endfilter %}
                </div>
                <div class="tags">
                    <h3>Tags:</h3>
                    <p>Tags: {% for tag in context.tags %}<a href="{{ url_for('tags', slug=tag.slug) }}">{{ tag.title }}</a>{% if loop.last %}{% else %}, {% endif %}{% endfor %}</p>
                </div>
            </article>
        </div>
    </div>
    {% if g.user.is_authenticated %}
    <div class="edit">
        <p><a href="{{ url_for('editentry', slug=context.slug) }}">Edit Entry</a></p>
        <p><a href="{{ url_for('deleteentry', slug=context.slug) }}">Delete Entry</a></p>
    </div>
    {% endif %}
</section>
{% endblock %}